spring:
  mail:
    host: localhost
    port: 1025 # mailHog
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
    from-address: noreply@wisetask.ru
  application:
    name: wise-task-profile
  datasource:
    url: jdbc:postgresql://localhost:5432/wise_task_profile
    username: wise_task_profile
    password: wise_task_profile
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

reset-password:
  recovery-link: "https://wisetask.ru/profile/reset_password?token="
  token-expires: 10
  send-limit: 2
  template: reset-password.html
  email-subject: "Ваша ссылка для восстановления пароля"

grpc:
  port: 6567
server:
  port: 8082

logging:
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.type.descriptor.sql: TRACE

management:
  tracing:
    sampling:
      probability: 1
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  zipkin:
    tracing:
      endpoint: http://${TEMPO_HOST:localhost}:${TEMPO_PORT:9411}/api/v2/spans
